$pageHeight:400px;
$siteWidth:980px;
$col1:#999999;
$col2:#dedede;
$margins:5px;

//site
$genLineHeight:20px;
$fontSize:.8em;
$textColor1:#666;
$titleColor1:#333;
$titleColor2:#111;

//nav
$navOverColor:#333;
$navTextColor:#333;
$navTextOverColor:#fff;




