

$columns: 12;
$column-width: 60;
$gutter-width: $margins*2;
$total-width: 100%;

$width-mod: $margins/2; // ideally half gutter-width


//////////////////////////////////////////////




#main {@include column(8);}
#sidebar {@include column(2);}
nav {@include column(2);}
footer, header {@include column(12);}





#main, #sidebar, nav, footer, header  {
	margin-bottom: $width-mod;
}

#sidebar {
	margin-right: 0px;
}



body {
	background-color:#dedede;
	font-family: arial;
}





.navbar, .main-content, .sidebar {
	min-height: $pageHeight;
	/*?*/
	
}


.navbar {
	@include border-radius(20px 2px  2px 20px);
}
.sidebar {
	@include border-radius(2px 20px  20px 2px);
}
.main-content {
	@include border-radius(2px 2px  2px 2px);
}

.footer {
	@include border-radius(20px);
}
.mast{
	@include border-radius(20px);
	@include d-gradient($col1, $col2);
}


@media screen and (max-width: 720px) {
	#main,
	#sidebar, nav {
		@include column(12);
		
	}
	.box {
		min-height: 100px!important;
		margin-right: ($width-mod)+10; 
		
		
	}
}







