.navbar {
	padding: 0px 0px 20px 0px;
ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	
	li:first-child {
		a {@include border-radius(20px 0px 0px 0px);}
		:hover {
		@include border-radius(20px 0px 0px 0px);
		}
	}
	
	
	li {

		a {
			display: block;
			border-bottom: solid 1px #888;
			line-height: ($genLineHeight)+10;
			padding-left: 10px;
			text-decoration: none;
			color:  $navTextColor;
			font-size: $fontSize;
			font-weight: bold;
			@include transition-property(background-color);
			@include transition-duration(.3s);
			@include transition-timing-function(ease-in);
			
		}
		
		

		:hover{
			background-color:$navOverColor;
			color: $navTextOverColor;
					}
	}

}

}