@import "core";
@import "grid";
@import "libs/lib";
@import "layout";

@import "elements";
@import "navbar";
@import "typography";


body {
	background-color:#dedede;
	font-family: arial;
}





.navbar, .main-content, .sidebar {
	min-height: $pageHeight;
	/*?*/
	
}

