@import "core";
@import "grid";
@import "layout";
@import "libs/lib";


body {
	background-color:#dedede;
	font-family: arial;
	p {
		font-size: .8em;
	}
	h1 {
		font-size: 1.5em;
		color:#15336f;
		padding-top: 10px;
		padding-bottom: 0px;
		@include text-shadow( 1px,  1px, 0px, rgba(0,0,0,.4));

	}
}



.box {
	@include red(.2);
	min-height: 50px;
	margin-bottom: 10px;
	padding:  10px;
	@include border-radius(5px);
	@include box-shadow(2px, 2px,5px,rgba(0,0,0,.4));
	@include background-gradient($col1, $col2);
	
	
}

.page-block {
	min-height: $pageHeight;
	
}

